* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}



/* ---------header section------------- */
header {
    background-color: antiquewhite;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    height: 30%;
}

header ul {
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50vw;

}

header ul li {
    padding-bottom: 13px;
    /* border-bottom: 3px solid antiquewhite; */
    padding-left: 8px;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: black
}


a:hover {
    color: hsl(136, 65%, 51%);
}

.header-cart img {
    width: 40px;
}

/* .header-cart img:hover {
    scale: 1.1;
} */


/* ---------- main section ---------- */
.main{
    min-height: 85vh;
}

.sign-success {
    display: none;
    margin: auto;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    box-shadow: 1px 1px 10px 2px #888888;
    border-radius: 10px;
    /* margin-bottom: 450px; */

}

.container {
    display: none;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(237, 241, 243);
    max-width: 400px;
    border-radius: 20px 50px 20px 50px;
    box-shadow: 10px 20px 10px rgb(179, 172, 172);
}

.signup-heading {
    font-weight: bolder;
    text-align: center;
    color: brown;
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: 5px 10px 10px rgb(122, 53, 53);

}

.form-container {
    padding-bottom: 20px;
}

.form {
    margin: 10px;
}

.form-container lable {
    font-size: 1em;
}

input {
    width: 99%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

#signup-button {
    margin-left: 35%;
}

button {
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(165 165 165);
    font-weight: bold;
}

button:hover {
    background-color: rgb(222 237 243);
}

.term-and-condition {
    /* display: flex;    */
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 13px;
}

.term-and-condition input {
    height: 10px;
    width: 20px;
    border: none;
    margin-top: 10px;
}


/* ------- footer section---------- */
footer {
    min-height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 6vw 1vh 6vw;
    box-sizing: border-box;
}

footer img {
    width: 150px;
    padding-bottom: 10px;
}

/* .footer-left {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    
} */

/* footer li {
    list-style: none;
    margin: 10px;
    color: white;
} */

.copy-right{
    color: white;
    padding-top: 10px;
}

@media (max-width:550px) {

    /* ----------- header section -------------- */
    header nav ul li {
        font-size: 1em;
        padding-right: 0;
        margin-left: -30px;
    }

    .header-cart img {
        width: 20px;
    }

    /* ------------main section --------------- */
    .sign-success{
        font-size: 1.5em;
        max-width: 80vw;
        border-radius: 15px;
    }
   
    .container{
        width: 90vw;
    }

    .term-and-condition {
        align-items: center;
        margin-top: 10px;
        padding-left: 1px;
        font-size: 11.5px;
    }

    /* ------------ footer section ----------------- */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    footer img {
        width: 100px;
        padding-bottom: 10px;
    }

    .copy-right{
        color: white;
        padding-top: 10px;
    }

}