* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    font-weight: 100;
    min-height: 100vh;
    font-size: 15px;
    color: grey;
    background-color: antiquewhite;
}

/* ---------header ------------- */
header {
    background-color: antiquewhite;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    height: 30%;
}

header ul {
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50vw;

}

header ul li {
    padding-bottom: 13px;
    /* border-bottom: 3px solid antiquewhite; */
    padding-left: 8px;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: black
}


a:hover {
    color: hsl(136, 65%, 51%);
}

.header-cart img {
    width: 40px;
}

/* .header-cart img:hover {
    scale: 1.1;
} */


/* -----------------offer page--------- */
.offer img {
    width: 100%;

}

/*  ------- article and products style --------- */

article {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preload {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.category {
    /* background-color: rgb(238, 236, 236); */
    width: 95vw;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.category h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2.2em;
}

.category-container {
    display: flex;
    margin: 1em;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.product-container {
    width: 250px;
    /* height: 460px; */
    margin: 0.5em;
    min-height: 440px;
    margin-bottom: 28px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.product-container img {
    width: 230px;
    max-height: 200px;
    min-height: 200px;
    border: 5px solid white;
    object-fit: contain;
}


.product-container h3 {
    min-height: 35px;
    font-size: 1em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
    /* text-align: justify; */
}

.product-container:hover {
    box-shadow: 5px 10px 8px 10px #888888
}

.product-container .product-description {
    max-height: 50px;
    overflow-y: hidden;
    /* text-align: justify; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
}

.product-container p span {
    font-weight: 600;
    color: black;
}

.view-product-description{
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    font-size: 1em;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
    overflow-y: hidden;
}

button {
    background-color: yellowgreen;
    border: none;
    width: 100px;
    height: 25px;
    color: white;
    border-radius: 5px;
    margin: 5px;

}

button:hover {
    background-color: blue;
}

.single-product {
    /* background-color: red; */
    display: flex;
    align-items: center;
    height: 100%
}

/* ------- footer part---------- */
footer {
    min-height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 6vw 1vh 6vw;
    box-sizing: border-box;
}

footer img {
    width: 150px;
    padding-bottom: 10px;
}

/* .footer-left {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    
} */

/* footer li {
    list-style: none;
    margin: 10px;
    color: white;
} */

.copy-right {
    color: white;
    padding-top: 10px;
}

/* ---------- media query ------- */

@media (max-width : 550px) {

    /* ---------  header part -------- */
    header nav ul li {
        font-size: 1.02em;
        padding-right: 0;
        margin-left: -30px;
        padding-bottom: 18px;
    }

    .header-cart img {
        width: 20px;
    }

    /* ------------- product part ----------- */
    .category h1 {
        padding-top: 0x;
        padding-left: 0;
        font-size: 2em;
        text-align: center;
    }

    .single-product {
        /* background-color: red; */
        display: block;
        align-items: center;
        height: 100%
    }

    .product-container:hover {
        scale: 1;
    }


    /* ------------ footer part ----------------- */
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
    }

    footer img {
        width: 100px;
    }

    .copy-right {
        color: white;
    }

}